In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

In [4]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine('postgresql://postgres:Alula2323@localhost:5432/Hawaii_db')

In [6]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [7]:
Base.classes.keys()

['measurement', 'station']

In [8]:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
session = Session(engine)

In [16]:
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days = 365)
prev_year
results = session.query(Measurement.date, Measurement.prcp).all()

df = pd.DataFrame(results,columns=['date', 'precipitation'])

df.set_index(df['date'], inplace=True)

df = df.sort_index()
df.drop(columns=['date'], inplace=True)

df.describe()

       precipitation
count           1000
unique            53
top                0
freq             663

In [11]:
session.query(func.count(Station.station)).all()

[(9)]

In [12]:
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

[('USC00519397', 1000)]

In [19]:
lowest = func.min(Measurement.tobs)
highest = func.max(Measurement.tobs)
average = func.ave(Measurement.tobs)
session.query(lowest, highest).all()                
results = session.query(Measurement.tobs).filter(Measurement.station=='USC00519281').all()

In [21]:
df = pd.DataFrame(results, columns=['tobs'])
df

Empty DataFrame
Columns: [tobs]
Index: []